body {
    display: flex;
    justify-content: center;
   /* background-color: #f7996e;*/
   background-image: url("./background.jpg");
   background-repeat: no-repeat;
   /* background-size: cover; */
   object-fit: none;
}


.Lista {
    margin-top: 100px;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 15px;
}

p {
    padding-right: 0px;
    text-align: center;
    color: #121211; font-family: 'Trocchi', serif; font-size: 35px; font-weight: normal; line-height: 48px; margin: 0;
}

.top {
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #013db1 0%,#5999ba 100%);
  border-style: groove;
}
.search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33px;
    background: #bcbcbc;
    border-style: inherit;
    border-style: groove;
}

.search-left {
  width: 50%;
}

.search-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  width: 50%;
}

#obiective {
  border-style: groove;
  background-color: #FCFCFD;
  width: 100%;
}

#searchbar {
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 30px;
  width: 100%;
  border-radius: 4px;
  border-width: 0;
  background-color: #FCFCFD;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  font-family: "JetBrains Mono",monospace;
}

#searchbar:focus{
  outline: none;
}

#buton {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 25px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 3px;
}

#buton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#buton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-1px);
}

#buton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(1px);
}

.image {
  height: 24px;
  margin-top: 3px;
  float: right;
  margin-right: 3px;
}

.image:hover {  
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

#show{
  margin-top: 300px;
}

#showbutton {
  align-self: center;
  background-color: #fff;
  background-image: none;
  /*background-position: 0 90%;*/
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count:calc(1);
  animation-timing-function: linear;
}

#showbutton:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#showbutton:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@keyframes spin {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@media only screen and (min-width: 530px) {
    .Lista {
      width: 500px;
    }
}

@media only screen and (min-width: 730px) {
  .Lista {
    width: 700px;
  }
}